{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-3">Choose Room</h1>
            <hr>
            {{$rooms := index .Data "rooms"}}
            <ul>
            {{range $rooms}}
                <li> 
                    <a href="/choose-room/{{.ID}}">{{.RoomName}}</a> 
                </li>
            {{end}}
            </ul>
        </div>
    </div>
</div>
{{end}}